.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid{
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "GT America extended bold";
  src: url("./fonts/GT-America-Extended-Bold.otf");

}

@font-face{
  font-family: "GT America Thin";
  src: url("./fonts/GT-America-Thin.otf")
}

@font-face{
  font-family: "GT America Ultra Light";
  src: url("./fonts/GT-America-Ultra-Light.otf")
}

@font-face {
  font-family: "GT America compressed black";
  src: url("./fonts/gt-america-compressed-black-webfont.ttf");

}


@font-face {
  font-family: "GT America compressed medium";
  src: url("./fonts/GT-America-Compressed-Medium.ttf");

}



@font-face {
  font-family: "GT America Expanded Black";
  src: url("./fonts/GT-America-Expanded-Black.otf");

}

@font-face {
  font-family: "GT America Extended Medium";
  src: url("./fonts/GT America Extended Medium.otf");

}


@font-face {
  font-family: "GT America Extended Regular";
  src: url("./fonts/GT-America-Extended-Regular.otf");

}


.texts{
  font-family: "GT America extended bold";
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.homepage{
  /* height: 1000vh; */
}



.project-titles{
  position: absolute;
  width: 100vw;
  top: 0px;
  height: 100vh;
  pointer-events: none;
}

.project-title{
  width: 100vw;
  text-align: center;
  position: absolute;
  color: white;
  top: 50%;
  /* font-family: "GT America extended bold"; */
  /* font-family: "GT America expanded black"; */
  font-family: "GT America compressed black";
  /* letter-spacing: .1em; */
  left: 50%;
  font-size: 25vw;
  opacity: 1;
  text-transform: uppercase;
  transform: translate( -50%, -50% );
}


@media( min-width: 1200px ){
  .project-title{
    font-size: 25vw;
  }
}

@keyframes title-inactive {
  0%{
    opacity: 1;
    transform: translate( 0px, 0px ) rotate3d(1, 0, 0, 0deg);
  }

  100%{
    opacity: 0;
    transform: translate( 0px, 150px ) rotate3d(1, 0, 0, 90deg);
  }
}

@keyframes title-active {
  0%{
    opacity: 0;
    transform: translate( 0px, -150px ) rotate3d(1, 0, 0, 90deg);
  }

  100%{
    opacity: 1;
    transform: translate( 0px, 0px ) rotate3d(1, 0, 0, 0deg);
  }
}



.project-title.active span{
  animation-name: title-active;
}


.project-title.inactive span{
  animation-name: title-inactive;
  animation-duration: .5s;
}

.project-title.hidden{
  opacity: 0;
}

.project-title span{
  display: inline-block;
  /* font-size: 21vh; */
  min-width: .2em;
  opacity: 1;
  transition-property: transform, opacity;
  transition: .6s cubic-bezier(0.65, 0, 0.35, 1);


  /* transform: translate( 0px, -150px ) rotate3d(1, 0, 0, 90deg); */
  /* transition-timing-function: ease-in-out; */
}

.projects{
  height: auto;
  position: relative;
  width: 100vw;
}

.projects canvas{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
}

.project-window{
  width: 100vw;
  height: 100vh;
}

.project-window canvas{
  height: 100%;
}

.top .project-window{
  position: sticky;
  top: 0px;
  left: 0px;
}

.middle .project-window{
  position: fixed;
  top: 0px;
  left: 0px;
}

.bottom .project-window{
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/*
.projects canvas.canvasMiddle{
  position: fixed;
  top: 0px;
  left: 0px;
}

.projects canvas.canvasBottom{
  position: absolute;
  bottom: 0px;
}

.projects canvas.canvasTop{
  position: absolute;
  top: 0px;
} */


body{
  /* height: 600vh; */
}



.header{
  width: 100vw;
  position: fixed;
  top: 0px;
  font-family: "GT America compressed black";
  font-family: "GT America expanded black";
  font-family: "GT America Extended Regular";
  left: 0px;
  width: 100vw;
  padding: 20px 90px;
  color: white;
  z-index: 1000;
  font-size: 16px;
  box-sizing: border-box;
  /* display: flex; */
  /* justify-content: center; */
  text-transform: uppercase;
}

.header ul{
  padding: 0px;
  margin: 0px;
}

.header ul li{
  display: inline-block;
  transition: .4s;
  color: white;
  opacity: .8;
}

.hamburger{
  position: fixed;
  top: 50px;
  left: 80px;
  width: 40px;
  height: 50px;
  z-index: 1000;
}

.bun{
  margin: 5px 0px;
  background-color: black;
  width: 100%;
  height: 5px;
}


.homepage .link-text{
  position: fixed;
  bottom: 20px;
  /* font-family: "GT America expanded black"; */
  font-family: "GT America compressed medium";
  font-family: "GT America Extended Regular";
  font-family: "GT America Extended Medium";
  font-family: "GT America expanded black";
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
  text-transform: uppercase;
  margin-top: -2vw;
  transition-delay: 1.2s;
  transition: opacity .4s;
  pointer-events: none;

  border-radius: 100%;
  /* opacity: 0; */
  /* position: relative; */
}

.homepage .link-text .link-mask{
  overflow: hidden;
  pointer-events: painted;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: .4s;
  border-radius: 100%;
}

.homepage .link-text button{
  white-space: nowrap;

  background-color: transparent;
  color: inherit;
  font-size: 20px;
  border:none;
  box-shadow: initial;
  font-family: "GT America expanded black";
  font-family: "GT America Extended Regular";
  font-family: "GT America Extended Medium";
   padding: 12px 40px;
  border-radius: 100%;
  pointer-events: painted;

  cursor: pointer;

  text-transform: uppercase;
}

.homepage .link-mask button{
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  padding: 12px 40px;
  border-radius: 100%;
  cursor: pointer;

}


.homepage .link-text span{
  position: absolute;
  top: 0px;
  left: 0px;
  /* text-decoration: underline; */
  height: 100%;
  opacity: 1;
  text-decoration: underline;
  /* color: black !important; */
  transform: initial;
  min-width: 0px;
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  transition: .4s;
}

.header-link{
  position: relative;
}


.projects{
  background-color: rgb( 15, 15, 15 );
  /* transition: 1s;
  transition-property: background-color;
  transition-delay: 1s; */
  width: 100vw;
  min-height: 100vh;
}




.project-title--home{
  font-family: "GT America expanded black";
  font-family: "GT America compressed black";
  font-size: 12vw;
  transform: translate( 0px, 0px );
  position: initial;
}

@media( min-width: 1400px ){
  .project-title--home{
    font-size: 120px;
  }
}

.project__body{
  padding: 0px 0px;
  display: flex;
}

@keyframes fadeInUp {
  0%{
    opacity: 0;
    transform: translate( 0px, 15vh );
  }

  100%{
    opacity: 1;
    transform: translate( 0px, 0vh );
  }
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}



.project__video video{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: block;
}

.project__image img{
  width: 100%;
  /* max-width: 1500px; */
  margin: 0 auto;
  display: block;
}



.project__main-image.project__image{
  /* padding: 0px; */
  background-color: transparent;
}

.project__hero h3{
  text-align: center;
  color: rgb( 150, 150, 150 );
  opacity: 0;
  font-family: "GT America Thin";
  font-size: 20px;
  font-weight: initial;
  animation-delay: 0s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  font-family: "GT America Extended Medium";
}

.project__hero h3 strike{
  color: rgb( 80, 80, 80 );
}

.project__description{

}

.project__description a{
  text-decoration: none;
  color: rgb( 120, 120, 120 );
}


.project__description p{
  margin: 0 auto;
}

.project__description-inner{
  margin: 0 auto;
}

.technologies label, .roles label{
  color: rgb( 150, 150, 150 );

}

.about-text{}

.technologies ul, .roles ul{
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin-top: 0px;

}

.technologies li{
}
