$font-size-big: 5vw;
$font-size-wide: 60px;
$font-size-medium: 32px;
$font-size-small: 20px;

$font-size-big--description: 34px;
$font-size-wide--description: 34px;
$font-size-medium--description: 24px;

.homepage .link-text{
  @media( min-width: 800px ){
    display: none;
  }

}

.project-window{
  @media( max-width: 600px){
    display: fixed !important;
  }
}

.homepage .link-text .link-mask{
    overflow: hidden;
    pointer-events: painted;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    transition: .4s;
    border-radius: 100%;
  }

  .homepage .link-text button{
    display: block;
    white-space: nowrap;

    background-color: transparent;
    color: inherit;
    font-size: 20px;
    border:none;
    box-shadow: initial;
    font-family: "GT America expanded black";
    font-family: "GT America Extended Regular";
    font-family: "GT America Extended Medium";
     padding: 12px 40px;
    border-radius: 100%;

    pointer-events: painted;


    text-transform: uppercase;
  }

  .grid{
    width: 100%;
  }

  .homepage .link-mask button{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    padding: 12px 40px;
    border-radius: 100%;


  }


  .homepage .link-text span{
    position: absolute;
    top: 0px;
    left: 0px;
    /* text-decoration: underline; */
    height: 100%;
    opacity: 1;
    text-decoration: underline;
    /* color: black !important; */
    transform: initial;
    min-width: 0px;
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    transition: .4s;
  }

  .header-link{
    position: relative;
  }

  .header-link.active::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 140%;
    border-radius: 100%;
    border: 3px solid white;
    border-color: inherit;
    transform: translate( -50%, -50% )
  }
  .projects{
    background-color: rgb( 15, 15, 15 );
    // transition: 1s;
    // transition-delay: 1s;
    width: 100vw;
    min-height: 100vh;
    .projects__inner{

    }
  }

  .project__hero{
    width: 100%;
    height: 90vh;
    display: flex;
    position: relative;
    transition: .15s;
    justify-content: center;
    flex-direction: column;
    @media( max-width: 600px ){
      // padding: 0px 20px;
      box-sizing: content-box;
    }
  }

  .project-title{
    &.project-title--wp{
      font-size: 21vw;
    }
    &.project-title--scribby{
      font-size: 31.5vw;
    }
    &.project-title--courant{
      font-size: 27vw;
    }
    &.project-title--wild-one{
      font-size: 30vw;
    }
  }


  .project-title.project-title--home{
    font-family: "GT America expanded black";
    font-family: "GT America compressed black";

    font-size: 27vw;
    &.project-title--home--scribby{
      font-size: 26.5vw;
    }
    &.project-title--home--wild-one{
      font-size: 25vw;
    }
    &.project-title--home--courant{
      font-size: 26.5vw;
    }
    &.project-title--home--wp{
      font-size: 20.5vw;
    }
    transform: translate( 0px, 0px );
    position: initial;
    width: 100%;

  }



  @media( min-width: 1400px ){
    .project-title--home{
      font-size: 120px;
    }
  }

  .project__body{
    padding: 0px 0px;
    display: flex;
  }

  @keyframes fadeInUp {
    0%{
      opacity: 0;
      transform: translate( 0px, 15vh );
    }

    100%{
      opacity: 1;
      transform: translate( 0px, 0vh );
    }
  }

  @keyframes fadeIn {
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }




  .project__image img{
    width: 100%;
    margin: 0 auto;
    display: block;
  }


  .project__main-image.project__image{
    /* padding: 0px; */
    background-color: transparent;
  }

  .project__hero h3{
    text-align: center;
    color: rgb( 150, 150, 150 );
    opacity: 0;
    font-family: "GT America Thin";
    font-size: 20px;
    font-weight: initial;
    animation-delay: 0s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    margin-top: 10px;
    overflow: hidden;
    font-family: "GT America Extended Medium";
  }

  .project__hero h3 strike{
    color: rgb( 80, 80, 80 );
  }

  .project__description{
    color: white;
    padding: 240px 0px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    font-family: "GT America Thin";
  }

  .project__description a{
    text-decoration: none;
    color: rgb( 120, 120, 120 );
  }


  .project__description p{
    margin: 0 auto;
    font-size: $font-size-small;
    padding: 0px;
    @media( min-width: 450px ){
      font-size: $font-size-medium--description;
    }

    @media( min-width: 800px ){
      padding: 0px 0px;
      font-size: $font-size-big--description;
    }

    @media( min-width: 1200px ){
      font-size: $font-size-wide--description;
    }

    line-height: 1.44em;
  }

  .project__description-inner{
    margin: 0 auto;
    max-width: 800px;
  }

  .technologies label, .roles label{
    color: rgb( 150, 150, 150 );

  }

  .technologies, .roles{
    margin-top: 60px;
    float: left;
    width: 33%;
    display: none;
    font-family: "GT America Thin";
    font-size: $font-size-small;
    ul{
      margin: 0px;
    }
    @media( max-width: 600px ){
      width: 100%;
      margin-top: 20px;
    }
  }

  .technologies ul, .roles ul{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin-top: 0px;

  }

  .technologies li{
  }

  .about{
    background-color: rgb( 15, 15, 15 );
    width: 100vw;
    box-sizing: border-box;
    position: relative;
  }

  .about canvas{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    min-height: 100vh;
    padding-bottom: 100px;

    @media( max-width: 800px ){
      .about-text{
        width: 100%;
      }
    }
  }



  .about-text{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: rgb( 200, 200, 200 );
    margin: 0 auto;
    text-align: left;
    font-family: "GT America expanded medium";
    padding: 0px;
    font-family: "GT America Thin";
    max-width: 1100px;

    h3{
      font-family: "GT America Extended Regular";
      box-sizing: border-box;
      font-size: $font-size-small;
      margin-left: 0px;

      @media( min-width: 450px ){
        font-size: $font-size-medium;
      }

      @media( min-width: 600px ){
        font-size: $font-size-big;
      }

      @media( min-width: 800px ){
      }

      @media( min-width: 1100px ){
        font-size: $font-size-wide;
      }

      line-height: 1.46em;

    }
  }

  .contact h4 a{
    color: rgb( 120, 120, 120 );
    text-decoration: none;
    transition: .2s;
    font-size: 18px;
    font-family: "GT America Extended Regular";
    @media( min-width: 450px ){
      font-size: $font-size-small;
    }
    @media( min-width: 600px ){
      font-size: $font-size-big;
    }
  }

  .about .active span{
    opacity: 1;

  }

  .contact h4 a:hover{
    color: white;
  }

  .about h3 span{
    opacity: 0;
    transition: 1s;
  }



.wrap{
  padding: 0px 30px;
  @media( max-width: 600px ){
    padding: 0px 20px;
  }

  @media( max-width: 450px ){
    padding: 0px 20px;
  }

  &.wrap--projects{
    padding: 0px 10px;
    display: flex;
    margin: 0 auto;
  }
}

.project__images{
  .wrap--projects{
    @media( min-width: 1000px ){
      float: left;
      width: 50%;
      padding: 0px;
      padding-left: 10px;
      display: block;
      box-sizing: border-box;
    }
  }

  .wrap--projects-fullscreen{
    padding: 0px 10px;
    .project__image{
      margin-bottom: 10px;
    }
  }
}

.project__technologies{
}


.project__image, .project__video{
  width: 100%;
  height: auto;
  float: left;
  opacity: 1;
  transition: .5s;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
  &.fade-out{
    opacity: 0;
  }
  @media( max-width: 600px ){
    margin-bottom: 60px;
  }
}

.project__hero{
  width: 100%;
  height: 40vw;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
  .overlay{
    position: absolute;
    bottom: 0px;
    height: 100%;
    opacity: .5;
    width: 100%;
    background: linear-gradient(to top, rgba(15,15,15,255) 0%, rgba( 0,0,0,0 ) 50% );
  }
  // &.project__hero--scribby{
  //   padding-top: 80px;
  //   height: 28vw;
  // }
  // &.project__hero--wild-one{
  //   padding-top: 80px;
  //   height: 26vw;
  // }
  // &.project__hero--courant{
  //   padding-top: 80px;
  //   height: 27vw;
  // }
  // &.project__hero--wp{
  //   height: 19vw;
  // }
  @media( max-width: 600px ){
    padding-top: 50px;
    h3{
      display: none;
    }
  }
}

.project__main-image{
    &.project__image{
      margin-bottom: 0px;
    }
    opacity: 0;
    animation-delay: .5s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    background-color: white;
    min-height: 40vw;
    width: 100%;
}

.header ul li{
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;

  @media( max-width: 600px ){
    font-size: 14px;
    margin-right: 30px;
  }

}

.header-link.active::after{
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 140%;
  border-radius: 100%;
  opacity: 0;
  border: 3px solid white;
  animation-name: fadeIn;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  border-color: inherit;
  transform: translate( -50%, -50% );
  @media( max-width: 600px ){
    width: 130%;
    height: 140%;
  }
}

.project-details{
  // display: flex;
  // justify-content: center;
  // text-align: center;
  // display: none;
}

.project__hero{
  @media( max-width: 600px ){
    display: none;
  }
}

.project__description{

  @media( max-width: 600px ){
    display: none;
  }
}

.project__hero--mobile{
  @media( min-width: 600px ){
    display: none;
  }
  padding: 0px 60px;
  h2{
    color: white;
    font-family: "GT America compressed black";
    text-align: left;
    font-size: 18vw;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 60px
  }

  p{
    color: rgb(212, 212, 212);
    font-family: "GT America Extended Regular";
    line-height: 1.6em;
    font-size: 20px;

    margin-bottom: 60px;
  }
}

.project__main-image{
  @media( max-width: 600px ){
    margin-top: 100px;
    // opacity: 1 !important;
    animation-name: fadeIn;
  }
}

.projects .next-project{
  background-color: #0f0f0f;
  position: relative;
  width: 100%;
  // margin-top: -60px;
  @media (max-width: 600px ){
    margin-top: 0px;
    padding-bottom: 40px;
  }
  background-color: rgb(15, 15, 15);
  box-sizing: border-box;
  cursor: pointer;

  canvas{
    @media( max-width: 600px ){
    }
    position: initial;
    background-color: rgb(15,15,15);
    padding-top: 10px;
    visibility: hidden;
    width: 100%;
  }

  .next-project__title{
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    left: 0px;
    position: absolute;
    opacity: 1;
    transition: .4s;
    font-family: "GT America expanded black";
    z-index: 100000;
    padding-bottom: 60px;
    top: 40px;
    color: #414141;
  }

  .next-project__inner{
    position: relative;
    padding: 0px 0px;
    border: 2px solid #202020;
    padding-top: 40px;
  }
}

.transition{
    background-color: rgb( 15, 15, 15 );
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

.project__technology{
  color: white;
  text-align: center;
  font-family: 'GT America Expanded Black';
  text-transform: uppercase;
  height: 19vw;
  width: 100vw;
  overflow: hidden;
  position: relative;
  &.project__technology--title{
    height: 10vw;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .technology__inner-text{
    &.technology__inner-text--title{
      font-size: 8.5vw;
      font-family: "GT America Ultra Light";
      letter-spacing: .3em;
      color: #656565;
    }
    position: absolute;
    transition: .1s;
    top: 50%;
    font-size: 19vw;
    left: 50%;
    width: 100%;
    transform: translate( -50%, -50% );
    white-space: nowrap;
  }
  .technology__overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(15,15,15,255) 10%, rgba( 0,0,0,0 ) 100% );
  }
  line-height: 1em;
  &.project__technology--react{

  }

  &.project__technology--webgl{
  }

  &.project__technology--aws{
  }
  &.project__technology--shopify{
  }
}

.slick-container{
  float: left;
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-top: 0px;
  padding-bottom: 240px;
  @media( max-width: 600px ){
    padding-bottom: 0px;
    margin-bottom: 30px;
    display: none;
  }
  .carousel-slide{
    padding: 0px;
    padding-left: 10px;
    position: relative;
    @media( max-width: 800px ){
      padding: 0px 20px;
    }
    p{
      position: absolute;
      bottom: 0px;
      left: 80px;
      display: block;
      color: rgb(120, 120, 120);
      clear: both;
      a{
        color: rgb(100, 100, 100);
      }
    }
  }
  .slide{
    opacity: .1;
    transition: .4s;
  }
  .slide.selected{
    opacity: 1;
  }
  .thumbs-wrapper{
    display: none;
  }

  .control-dots{
    display: none;
  }
  .carousel-status{
    display: none;
  }
}

.homepage{
  // overflow: hidden;
  // transition: 1.5s cubic-bezier(0.76, 0, 0.24, 1);
  // position: fixed;
  // top: 0px;
  // right: 0px;
}

.wild-one-0{
  letter-spacing: -.03em;
}
.wild-one-1{
  letter-spacing: -.05em;
}
.wild-one-2{
  letter-spacing: -.015em;
}
.wild-one-3{
  letter-spacing: -.05em;
}
.wild-one-5{
  letter-spacing: -.035em;
}
.wild-one-6{
  letter-spacing: -.045em;
}

.scribby-0{
  letter-spacing: .0em;
}
.scribby-1{
  letter-spacing: -.03em;
}
.scribby-2{
  letter-spacing: -.02em;
}
.scribby-3{
  letter-spacing: -.05em;
}
.scribby-4{
  letter-spacing: -.03em;
}
.scribby-5{
  letter-spacing: -.04em;
}
.courant-0{
  letter-spacing: -.01em;
}
.courant-1{
  letter-spacing: -.03em;
}
.courant-2{
  letter-spacing: -.045em;
}
.courant-3{
  letter-spacing: .015em;
}
.courant-4{
  letter-spacing: -.03em;
}
.courant-5{
  letter-spacing: .015em;
}

.wp-0{
  letter-spacing: -.045em;;
}
.wp-1{
  letter-spacing: -.015em;
}
.wp-2{
  letter-spacing: -.045em;;
}
.wp-3{
  letter-spacing: -.02em;
}
.wp-4{
  letter-spacing: -.025em;
}
.wp-5{
  letter-spacing: .005em;
}
.wp-6{
  letter-spacing: -.01em;
}
.wp-7{
  letter-spacing: -.025em;
}
.wp-8{
  letter-spacing: -.03em;
}

.reactjs-0{
  letter-spacing: -.04em;
}

.reactjs-1{
  letter-spacing: -.02em;
}

.reactjs-2{
  letter-spacing: -.06em;
}

.reactjs-3{
  letter-spacing: .02em;
}

.reactjs-4{
  letter-spacing: -.16em;
}

.reactjs-5{
  letter-spacing: -.02em;
}

.nodejs-0{
  letter-spacing: -.03em;
}

.nodejs-1{
  letter-spacing: -.03em;
}

.nodejs-2{
  letter-spacing: -.03em;
}

.nodejs-3{
  letter-spacing: -.01em;
}

.threejs-0{
  letter-spacing: -.03em;
}

.threejs-1{
  letter-spacing: -.09em;
}

.threejs-2{
  letter-spacing: -.04em;
}

.threejs-3{
  letter-spacing: -.07em;
}

.threejs-4{
  letter-spacing: -.01em;
}

.shopify-0{
  letter-spacing: -.03em;
}

.shopify-1{
  letter-spacing: -.03em;
}

.shopify-2{
  letter-spacing: -.02em;
}

.shopify-3{
  letter-spacing: -.02em;
}

.shopify-4{
  letter-spacing: -.08em;
}

.project__image-grid{
  padding-right: 10px;
  .project__image, .project__Video{
    width: 50%;
    padding-left: 10px;
  }
}

