@media (min-width: 800px) {
  .homepage .link-text {
    display: none;
  }
}

@media (max-width: 600px) {
  .project-window {
    display: fixed !important;
  }
}

.homepage .link-text .link-mask {
  overflow: hidden;
  pointer-events: painted;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: 0.4s;
  border-radius: 100%;
}

.homepage .link-text button {
  display: block;
  white-space: nowrap;
  background-color: transparent;
  color: inherit;
  font-size: 20px;
  border: none;
  box-shadow: initial;
  font-family: "GT America expanded black";
  font-family: "GT America Extended Regular";
  font-family: "GT America Extended Medium";
  padding: 12px 40px;
  border-radius: 100%;
  pointer-events: painted;
  text-transform: uppercase;
}

.grid {
  width: 100%;
}

.homepage .link-mask button {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 1;
  padding: 12px 40px;
  border-radius: 100%;
}

.homepage .link-text span {
  position: absolute;
  top: 0px;
  left: 0px;
  /* text-decoration: underline; */
  height: 100%;
  opacity: 1;
  text-decoration: underline;
  /* color: black !important; */
  transform: initial;
  min-width: 0px;
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s;
}

.header-link {
  position: relative;
}

.header-link.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 140%;
  border-radius: 100%;
  border: 3px solid white;
  border-color: inherit;
  transform: translate(-50%, -50%);
}

.projects {
  background-color: #0f0f0f;
  width: 100vw;
  min-height: 100vh;
}
.project__hero {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  transition: 0.15s;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .project__hero {
    box-sizing: content-box;
  }
}

.project-title.project-title--wp {
  font-size: 21vw;
}
.project-title.project-title--scribby {
  font-size: 31.5vw;
}
.project-title.project-title--courant {
  font-size: 27vw;
}
.project-title.project-title--wild-one {
  font-size: 30vw;
}

.project-title.project-title--home {
  font-family: "GT America expanded black";
  font-family: "GT America compressed black";
  font-size: 27vw;
  transform: translate(0px, 0px);
  position: initial;
  width: 100%;
}
.project-title.project-title--home.project-title--home--scribby {
  font-size: 26.5vw;
}
.project-title.project-title--home.project-title--home--wild-one {
  font-size: 25vw;
}
.project-title.project-title--home.project-title--home--courant {
  font-size: 26.5vw;
}
.project-title.project-title--home.project-title--home--wp {
  font-size: 20.5vw;
}

@media (min-width: 1400px) {
  .project-title--home {
    font-size: 120px;
  }
}
.project__body {
  padding: 0px 0px;
  display: flex;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(0px, 15vh);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0vh);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.project__image img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.project__main-image.project__image {
  /* padding: 0px; */
  background-color: transparent;
}

.project__hero h3 {
  text-align: center;
  color: #969696;
  opacity: 0;
  font-family: "GT America Thin";
  font-size: 20px;
  font-weight: initial;
  animation-delay: 0s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  margin-top: 10px;
  overflow: hidden;
  font-family: "GT America Extended Medium";
}

.project__hero h3 strike {
  color: #505050;
}

.project__description {
  color: white;
  padding: 240px 0px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  font-family: "GT America Thin";
}

.project__description a {
  text-decoration: none;
  color: #787878;
}

.project__description p {
  margin: 0 auto;
  font-size: 20px;
  padding: 0px;
  line-height: 1.44em;
}
@media (min-width: 450px) {
  .project__description p {
    font-size: 24px;
  }
}
@media (min-width: 800px) {
  .project__description p {
    padding: 0px 0px;
    font-size: 34px;
  }
}
@media (min-width: 1200px) {
  .project__description p {
    font-size: 34px;
  }
}

.project__description-inner {
  margin: 0 auto;
  max-width: 800px;
}

.technologies label, .roles label {
  color: #969696;
}

.technologies, .roles {
  margin-top: 60px;
  float: left;
  width: 33%;
  display: none;
  font-family: "GT America Thin";
  font-size: 20px;
}
.technologies ul, .roles ul {
  margin: 0px;
}
@media (max-width: 600px) {
  .technologies, .roles {
    width: 100%;
    margin-top: 20px;
  }
}

.technologies ul, .roles ul {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin-top: 0px;
}

.about {
  background-color: #0f0f0f;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}

.about canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  min-height: 100vh;
  padding-bottom: 100px;
}
@media (max-width: 800px) {
  .about .about-text {
    width: 100%;
  }
}

.about-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #c8c8c8;
  margin: 0 auto;
  text-align: left;
  font-family: "GT America expanded medium";
  padding: 0px;
  font-family: "GT America Thin";
  max-width: 1100px;
}
.about-text h3 {
  font-family: "GT America Extended Regular";
  box-sizing: border-box;
  font-size: 20px;
  margin-left: 0px;
  line-height: 1.46em;
}
@media (min-width: 450px) {
  .about-text h3 {
    font-size: 32px;
  }
}
@media (min-width: 600px) {
  .about-text h3 {
    font-size: 5vw;
  }
}
@media (min-width: 1100px) {
  .about-text h3 {
    font-size: 60px;
  }
}

.contact h4 a {
  color: #787878;
  text-decoration: none;
  transition: 0.2s;
  font-size: 18px;
  font-family: "GT America Extended Regular";
}
@media (min-width: 450px) {
  .contact h4 a {
    font-size: 20px;
  }
}
@media (min-width: 600px) {
  .contact h4 a {
    font-size: 5vw;
  }
}

.about .active span {
  opacity: 1;
}

.contact h4 a:hover {
  color: white;
}

.about h3 span {
  opacity: 0;
  transition: 1s;
}

.wrap {
  padding: 0px 30px;
}
@media (max-width: 600px) {
  .wrap {
    padding: 0px 20px;
  }
}
@media (max-width: 450px) {
  .wrap {
    padding: 0px 20px;
  }
}
.wrap.wrap--projects {
  padding: 0px 10px;
  display: flex;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .project__images .wrap--projects {
    float: left;
    width: 50%;
    padding: 0px;
    padding-left: 10px;
    display: block;
    box-sizing: border-box;
  }
}
.project__images .wrap--projects-fullscreen {
  padding: 0px 10px;
}
.project__images .wrap--projects-fullscreen .project__image {
  margin-bottom: 10px;
}

.project__image, .project__video {
  width: 100%;
  height: auto;
  float: left;
  opacity: 1;
  transition: 0.5s;
  margin-bottom: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.project__image.fade-out, .project__video.fade-out {
  opacity: 0;
}
@media (max-width: 600px) {
  .project__image, .project__video {
    margin-bottom: 60px;
  }
}

.project__hero {
  width: 100%;
  height: 40vw;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  padding-top: 90px;
}
.project__hero .overlay {
  position: absolute;
  bottom: 0px;
  height: 100%;
  opacity: 0.5;
  width: 100%;
  background: linear-gradient(to top, #0f0f0f 0%, rgba(0, 0, 0, 0) 50%);
}
@media (max-width: 600px) {
  .project__hero {
    padding-top: 50px;
  }
  .project__hero h3 {
    display: none;
  }
}

.project__main-image {
  opacity: 0;
  animation-delay: 0.5s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  background-color: white;
  min-height: 40vw;
  width: 100%;
}
.project__main-image.project__image {
  margin-bottom: 0px;
}

.header ul li {
  font-size: 16px;
  margin-right: 60px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .header ul li {
    font-size: 14px;
    margin-right: 30px;
  }
}

.header-link.active::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 140%;
  border-radius: 100%;
  opacity: 0;
  border: 3px solid white;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
  border-color: inherit;
  transform: translate(-50%, -50%);
}
@media (max-width: 600px) {
  .header-link.active::after {
    width: 130%;
    height: 140%;
  }
}

@media (max-width: 600px) {
  .project__hero {
    display: none;
  }
}

@media (max-width: 600px) {
  .project__description {
    display: none;
  }
}

.project__hero--mobile {
  padding: 0px 60px;
}
@media (min-width: 600px) {
  .project__hero--mobile {
    display: none;
  }
}
.project__hero--mobile h2 {
  color: white;
  font-family: "GT America compressed black";
  text-align: left;
  font-size: 18vw;
  text-transform: uppercase;
  margin: 0px;
  padding-top: 60px;
}
.project__hero--mobile p {
  color: #d4d4d4;
  font-family: "GT America Extended Regular";
  line-height: 1.6em;
  font-size: 20px;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .project__main-image {
    margin-top: 100px;
    animation-name: fadeIn;
  }
}

.projects .next-project {
  background-color: #0f0f0f;
  position: relative;
  width: 100%;
  background-color: #0f0f0f;
  box-sizing: border-box;
  cursor: pointer;
}
@media (max-width: 600px) {
  .projects .next-project {
    margin-top: 0px;
    padding-bottom: 40px;
  }
}
.projects .next-project canvas {
  position: initial;
  background-color: #0f0f0f;
  padding-top: 10px;
  visibility: hidden;
  width: 100%;
}
.projects .next-project .next-project__title {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  left: 0px;
  position: absolute;
  opacity: 1;
  transition: 0.4s;
  font-family: "GT America expanded black";
  z-index: 100000;
  padding-bottom: 60px;
  top: 40px;
  color: #414141;
}
.projects .next-project .next-project__inner {
  position: relative;
  padding: 0px 0px;
  border: 2px solid #202020;
  padding-top: 40px;
}

.transition {
  background-color: #0f0f0f;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

.project__technology {
  color: white;
  text-align: center;
  font-family: "GT America Expanded Black";
  text-transform: uppercase;
  height: 19vw;
  width: 100vw;
  overflow: hidden;
  position: relative;
  line-height: 1em;
}
.project__technology.project__technology--title {
  height: 10vw;
  padding-top: 120px;
  padding-bottom: 120px;
}
.project__technology .technology__inner-text {
  position: absolute;
  transition: 0.1s;
  top: 50%;
  font-size: 19vw;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.project__technology .technology__inner-text.technology__inner-text--title {
  font-size: 8.5vw;
  font-family: "GT America Ultra Light";
  letter-spacing: 0.3em;
  color: #656565;
}
.project__technology .technology__overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #0f0f0f 10%, rgba(0, 0, 0, 0) 100%);
}
.slick-container {
  float: left;
  width: 100%;
  overflow: hidden;
  display: flex;
  padding-top: 0px;
  padding-bottom: 240px;
}
@media (max-width: 600px) {
  .slick-container {
    padding-bottom: 0px;
    margin-bottom: 30px;
    display: none;
  }
}
.slick-container .carousel-slide {
  padding: 0px;
  padding-left: 10px;
  position: relative;
}
@media (max-width: 800px) {
  .slick-container .carousel-slide {
    padding: 0px 20px;
  }
}
.slick-container .carousel-slide p {
  position: absolute;
  bottom: 0px;
  left: 80px;
  display: block;
  color: #787878;
  clear: both;
}
.slick-container .carousel-slide p a {
  color: #646464;
}
.slick-container .slide {
  opacity: 0.1;
  transition: 0.4s;
}
.slick-container .slide.selected {
  opacity: 1;
}
.slick-container .thumbs-wrapper {
  display: none;
}
.slick-container .control-dots {
  display: none;
}
.slick-container .carousel-status {
  display: none;
}

.wild-one-0 {
  letter-spacing: -0.03em;
}

.wild-one-1 {
  letter-spacing: -0.05em;
}

.wild-one-2 {
  letter-spacing: -0.015em;
}

.wild-one-3 {
  letter-spacing: -0.05em;
}

.wild-one-5 {
  letter-spacing: -0.035em;
}

.wild-one-6 {
  letter-spacing: -0.045em;
}

.scribby-0 {
  letter-spacing: 0em;
}

.scribby-1 {
  letter-spacing: -0.03em;
}

.scribby-2 {
  letter-spacing: -0.02em;
}

.scribby-3 {
  letter-spacing: -0.05em;
}

.scribby-4 {
  letter-spacing: -0.03em;
}

.scribby-5 {
  letter-spacing: -0.04em;
}

.courant-0 {
  letter-spacing: -0.01em;
}

.courant-1 {
  letter-spacing: -0.03em;
}

.courant-2 {
  letter-spacing: -0.045em;
}

.courant-3 {
  letter-spacing: 0.015em;
}

.courant-4 {
  letter-spacing: -0.03em;
}

.courant-5 {
  letter-spacing: 0.015em;
}

.wp-0 {
  letter-spacing: -0.045em;
}

.wp-1 {
  letter-spacing: -0.015em;
}

.wp-2 {
  letter-spacing: -0.045em;
}

.wp-3 {
  letter-spacing: -0.02em;
}

.wp-4 {
  letter-spacing: -0.025em;
}

.wp-5 {
  letter-spacing: 0.005em;
}

.wp-6 {
  letter-spacing: -0.01em;
}

.wp-7 {
  letter-spacing: -0.025em;
}

.wp-8 {
  letter-spacing: -0.03em;
}

.reactjs-0 {
  letter-spacing: -0.04em;
}

.reactjs-1 {
  letter-spacing: -0.02em;
}

.reactjs-2 {
  letter-spacing: -0.06em;
}

.reactjs-3 {
  letter-spacing: 0.02em;
}

.reactjs-4 {
  letter-spacing: -0.16em;
}

.reactjs-5 {
  letter-spacing: -0.02em;
}

.nodejs-0 {
  letter-spacing: -0.03em;
}

.nodejs-1 {
  letter-spacing: -0.03em;
}

.nodejs-2 {
  letter-spacing: -0.03em;
}

.nodejs-3 {
  letter-spacing: -0.01em;
}

.threejs-0 {
  letter-spacing: -0.03em;
}

.threejs-1 {
  letter-spacing: -0.09em;
}

.threejs-2 {
  letter-spacing: -0.04em;
}

.threejs-3 {
  letter-spacing: -0.07em;
}

.threejs-4 {
  letter-spacing: -0.01em;
}

.shopify-0 {
  letter-spacing: -0.03em;
}

.shopify-1 {
  letter-spacing: -0.03em;
}

.shopify-2 {
  letter-spacing: -0.02em;
}

.shopify-3 {
  letter-spacing: -0.02em;
}

.shopify-4 {
  letter-spacing: -0.08em;
}

.project__image-grid {
  padding-right: 10px;
}
.project__image-grid .project__image, .project__image-grid .project__Video {
  width: 50%;
  padding-left: 10px;
}

/*# sourceMappingURL=theme.css.map */
